@model IEnumerable<TimeCard.Domain.Employee>

@{
    ViewData["Title"] = "Employee";
    Layout = "_LayoutDashboard";
}
&nbsp;
<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-light shadow-sm">Create New Job</a>
</p>

<table class="table w-100 table-striped" id="tbl">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Action
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <li><a class="dropdown-item" href="#">Details</a></li>
                                <li><a class="dropdown-item" href="#">Delete</a></li>                    
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $("#tbl").DataTable({
                "paging": true,
                "searching": true,
                "ordering": true
            });
        });
    </script>
}
